{% extends 'layout-admin.html.twig' %}
    {% block title %}Gestion Catégorie{% endblock %}

{% block style %}
<style>
main{
    margin: 20px 10px;
    padding-top:10px;
}
main ul li{
  color: #9D0806;
  font-size: 1rem;
}
main div{
padding: 7px 10px;
}
main label{
  margin-right: 10px;
}
main input.btn{
margin-left:25px;
margin-top:20px;
}
  </style>
{% endblock %}

{% block h1 %}
Ajout de catégorie{% endblock h1 %}

{% block content %}
<main>
	{{ form_start(form)}}
	<div>
		{{ form_label(form.nom)}}
		{{ form_widget(form.nom)}}
        {{ form_errors(form.nom)}}

	</div>
	<div>

		{{ form_label(form.image)}}
		{{ form_widget(form.image)}}
        {{ form_errors(form.image)}}

	</div>

	<input type="submit" class="btn btn-success" value="Ajouter la catégorie">

	{{ form_end(form)}}
    </main>
{% endblock %}
