{% extends 'base.html.twig' %}

{% block title %}Locavor - Réinitialisez votre mot de passe{% endblock %}

{% block body %}
       
<main class="container-fluid mb-5 mt-5 px-5">

<section class="row signup pb-3">
<div class="col-md-6 col-12 d-flex flex-column">
{% block content %}
<div class="m-auto container_form">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h2 class="typo mb-5">Réinitialisez votre mot de passe</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="mt-4">
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

    <button class="btn btn1 my-3 width" type="submit">
        Réinitialisez votre mot de passe
    </button>
    {{ form_end(requestForm) }}

    </div>
    {% endblock %}
</div>


<div class="col">
<img class="radius" src="{{ asset('/images/Producteur-qui-se-pose-questions-site.jpg') }}" alt="Illustration mot de passe perdu">
</div>
</section>
</main>
{% endblock %}
