{% extends 'layout-agri.html.twig' %}
{% block title %}Mes Produits
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

{% endblock %}

{% block h1 %}
	Ajout d'image par categorie
{% endblock h1 %}

{% block body %}
{# BANNIERE Container radius epi#}
<section class="bgimage banner banner-epi shadow container" style="background-image: linear-gradient( rgba(0, 0, 0, 0.68) 100%, rgba(0, 0, 0, 0.68)100%),
      url('{{ asset('/upload/' ~ categ.image) }}') !important;">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-auto text-center">
                    <h1>{{ categ.nom }}</h1>
					{# --------- #}

					<nav class="d-flex justify-content-center" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link" href="{{ path('agriculteur_profil') }}">Magasin</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ categ.nom }}</li>
  </ol>
</nav>
					{# --------- #}
                </div>
            </div>
        </div>
    </section>
{# FIN BANNIERE #}

{# ----------------------- #}
<div class="container">
<div class="d-flex justify-content-end my-4">
<form method="post" action="{{ path('agriCategorie_delete', {'id': categ.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir de ne plus apparaitre dans cette catégorie');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categ.id) }}">
    <button class="btn2">Ne plus être dans cette catégorie</button>
</form>
</div>

<div>
	<a href="{{ path('agriculteur_profil') }}" class="link"><i class="bi bi-arrow-bar-left"></i>Retourner en arrière</a>
<h2 class="semi-bold">Catégorie : {{ categ.nom }}</h2>
<p>Ajoutez des photos de vos produits pour la catégorie <b>{{ categ.nom }}</b>. Les visiteurs du site verront ces images et pourront se faire une idée des produits que vous vendez. 
</br>Vous pourrez à tout moment en ajouter, où en retirer en cliquent sur la poubelle en haut à droite de l'image.</p>
</div> 
</div>


{# ----------------------- #}

{% if app.user.images is not empty %}
	<div class="swiper container">
		<span class="title-section d-flex justify-content-end">
			<button class="btn btn-archive btn-sm prev-btn" type="button">
				<i class="bi bi-arrow-left"></i>
				<!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
				<span class="visually-hidden">Precedent</span>
			</button>
			<span class="mx-1">&nbsp;</span>
			<button class="btn btn-archive btn-sm next-btn" type="button">
				<i class="bi bi-arrow-right"></i>
				<!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
				<span class="visually-hidden">Suivant</span>
			</button>


		</span>
		<div class="swiper-wrapper">
		{% set slugy = slug|replace({'_': ' '})  %}
    			{% for image in app.user.images %}
				{% if image.categorie.nom == categ.nom %}
			<div class="swiper-slide">
						<img src="{{ asset('/upload/produit/' ~ image.nom) | imagine_filter('thumb')}}" alt="Image">
						<a href="{{ path('agriCategorie_deleteImages', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id)}}">
            				<i class="bi bi-trash"></i>
            </a>
    	</div>
				{% endif %}
			{% endfor %}

		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination"></div>
	</div>

	{# ----------------------- #}
</div>
</div>
</section>
<!-- END CUSTOM SLIDER -->
{% endif %}
<section class="container mt-4 mb-5">
	<div class="row">
	<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-8">
	{{ form_start(form)}}
		{{ form_label(form.images)}}
		{{ form_widget(form.images)}}
		{{ form_errors(form.images)}}

	</div>
	</div>

	<input type="submit" class="btn btn1" value="Sauvegarder">

</section>
	{{ form_end(form)}}

{% endblock %}
{% block js %}
<script src="{{ asset('js/images.js') }}">
</script>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js">
</script>
<script>
var swiper = new Swiper('.swiper', {
slidesPerView: 4,
spaceBetween: 30,
navigation: {
nextEl: '.next-btn',
prevEl: '.prev-btn'
},
breakpoints: {
    640: {
      slidesPerView: 2,
      spaceBetween: 10,
    },
    768: {
      slidesPerView: 3,
      spaceBetween: 10,
    },
    1024: {
      slidesPerView: 5,
      spaceBetween: 10,
    },
        1440:{
      slidesPerView: 5,
      spaceBetween: 10,
    },
},
pagination: {
el: '.swiper-pagination',
clickable: true
}
});
</script>
{% endblock js %}
